body {
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

main {
    background-color:rgb(62, 100, 87);
}

header {
    background-color: rgb(111, 160, 224);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div>p {
    margin: 0px;
}

#mainText {
    display: flex;
    font-size: 40px;
    font-family:monospace;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: rgb(53, 131, 8);
}

section {
    background-color: rgb(207, 207, 207);
    display: block;
}

section>div>ul {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    list-style: none;
    color:rgb(4, 29, 138);
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

section>div>ul :first-child {
    font-size: 25px;
    font-weight: bold;

}

footer {
    background-color: rgb(54, 97, 190);
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    cursor: pointer;
}

footer:hover {
    background-color: rgb(72, 190, 54);
    color:rgb(17, 84, 184);
}