header {
    background-color: rgb(111, 160, 224);
    height: 100px;
}

#mainText {
    display: flex;
    font-size: 35px;
    font-family: cursive;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: rgb(53, 131, 8);
}