body {
    width: 500px;
    margin: auto;
    margin-top: 10px;
    background-color:rgb(62, 100, 87);
}

header {
    background-color: rgb(197, 224, 134);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

header>div>p {
    margin: 0px;
}

#mainText {
    display: flex;
    font-size: 40px;
    font-family:monospace;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: rgb(53, 131, 8);
}

section {
    background-color: rgb(156, 174, 190);
    display: block;
    border-radius: 20px;
}

section>div>ul {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    list-style: none;
    color:rgb(8, 44, 137);
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

section>div>ul :first-child {
    font-size: 25px;
    font-weight: bold;

}

footer {
   background-color: rgb(72, 190, 54);
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(17, 84, 184);
    cursor: pointer;
    border-radius: 20px;
}

footer:hover {
    background-color: rgb(193, 25, 25);
    color:white;
}